/* 
 *
 * Brightside Counseling Services
 * 1.0.0
 *
 */

body{ 
	text-align: justify;
  text-justify: inter-word;
}

@font-face {
  font-family: "Calluna";
  src: url("/fonts/Calluna-Regular-webfont.woff") format("woff");
}

a {
	color: #f07a31;
}

#footer .footer-copyright p {
	color: #ccc;
}

html .text-color-primary,
html .text-primary {
	color: #f07a31 !important;
}

html .text-color-hover-primary:hover,
html .text-hover-primary:hover {
	color: #f07a31 !important;
}

.gradient-text-color {
	color: #f07a31;
	background: -webkit-gradient(linear, left top, right bottom, from(#f07a31), to(#e36159));
	background: linear-gradient(to bottom right, #f07a31, #e36159);
	background-image: -webkit-gradient(linear, left top, right top, from(#f07a31), to(#e36159));
	background-image: linear-gradient(to right, #f07a31, #e36159);
}

html .bg-color-primary,
html .bg-primary {
	background-color: #f07a31 !important;
}

html .bg-color-hover-primary:hover,
html .bg-hover-primary:hover {
	background-color: #f07a31 !important;
}

.btn-gradient.btn-outline {
	border-image: linear-gradient(135deg, #f2ee86 0%, #f07a31 100%);
}

.btn-gradient.btn-outline:hover,
.btn-gradient.btn-outline.hover {
	-o-border-image: linear-gradient(135deg, #fbf9c2 0%, #ff9a5c 120%);
	border-image: linear-gradient(135deg, #fbf9c2 0%, #ff9a5c 120%);
	color: #00a1f2;
}

/* Color Transition */
@-webkit-keyframes colorTransition {
	0% {
		background-color: #f07a31;
	}

	33% {
		background-color: #e36159;
	}

	66% {
		background-color: #2baab1;
	}

	100% {
		background-color: #383f48;
	}
}

@keyframes colorTransition {
	0% {
		background-color: #f07a31;
	}

	33% {
		background-color: #e36159;
	}

	66% {
		background-color: #2baab1;
	}

	100% {
		background-color: #383f48;
	}
}

html .border-color-primary {
	border-color: #f07a31 !important;
}

html .border-color-hover-primary:hover {
	border-color: #f07a31 !important;
}

.alternative-font {
	color: #f07a31;
}

html .box-shadow-1-primary:before {
	-webkit-box-shadow: 0 30px 90px #f07a31 !important;
	box-shadow: 0 30px 90px #f07a31 !important;
}

html .blockquote-primary {
	border-color: #f07a31 !important;
}

p.drop-caps:first-letter {
	color: #f07a31;
}

p.drop-caps.drop-caps-style-2:first-letter {
	background-color: #f07a31;
}

html .nav-color-primary nav > ul > li > a {
	color: #f07a31 !important;
}

html .nav-color-primary:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
	background-color: #f07a31 !important;
}

html .nav-color-primary:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
	border-top-color: #f07a31 !important;
}

.nav-pills > li.active > a,
.nav-pills .nav-link.active {
	background-color: #f07a31;
}

.nav-pills > li.active > a:hover,
.nav-pills .nav-link.active:hover,
.nav-pills > li.active > a:focus,
.nav-pills .nav-link.active:focus {
	background-color: #f07a31;
}

.nav-active-style-1 > li > a:hover,
.nav-active-style-1 > li > a:focus,
.nav-active-style-1 > li > a.active {
	border-bottom-color: #f07a31;
}

html .nav-pills-primary a {
	color: #f07a31;
}

.section-scroll-dots-navigation.scroll-dots-navigation-colored > ul > li > a:before {
	background: #f07a31;
}

.sort-source-wrapper .nav > li.active > a {
	color: #f07a31;
}

.sort-source-wrapper .nav > li.active > a:hover,
.sort-source-wrapper .nav > li.active > a:focus {
	color: #f07a31;
}

.sort-source.sort-source-style-2 > li.active > a:after {
	border-top-color: #f07a31;
}

.sort-source.sort-source-style-3 > li.active > a {
	border-bottom-color: #f07a31 !important;
	color: #f07a31 !important;
}

html .badge-primary {
	background-color: #f07a31;
}

.btn-link {
	color: #f07a31;
}

html .btn-primary {
	background-color: #f07a31;
	border-color: #f07a31 #ab4c11 #ab4c11 #f07a31;
	color: #ffffff;
}

html .btn-primary:hover,
html .btn-primary.hover {
	background-color: #fbb439;
	border-color: #fbb439 #f07a31 #f07a31 #fbb439;
	color: #ffffff;
}

html .btn-primary:focus,
html .btn-primary.focus {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.5);
	box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.5);
}

html .btn-primary.disabled,
html .btn-primary:disabled {
	background-color: #f98d4a;
	border-color: #f07a31 #f07a31 #006699;
}

html .btn-primary:active,
html .btn-primary.active {
	background-color: #006ea6 !important;
	background-image: none !important;
	border-color: #006699 #006699 #004466 !important;
}

html .btn-primary-scale-2 {
	background-color: #006699;
	border-color: #006699 #006699 #004466;
	color: #ffffff;
}

html .btn-primary-scale-2:hover,
html .btn-primary-scale-2.hover {
	background-color: #007fbf;
	border-color: #f07a31 #f07a31 #006699;
	color: #ffffff;
}

html .btn-primary-scale-2:focus,
html .btn-primary-scale-2.focus {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 102, 153, 0.5);
	box-shadow: 0 0 0 3px rgba(0, 102, 153, 0.5);
}

html .btn-primary-scale-2.disabled,
html .btn-primary-scale-2:disabled {
	background-color: #006699;
	border-color: #006699 #006699 #004466;
}

html .btn-primary-scale-2:active,
html .btn-primary-scale-2.active {
	background-color: #004c73 !important;
	background-image: none !important;
	border-color: #004466 #004466 #002233 !important;
}

html .show > .btn-primary.dropdown-toggle,
html .show > .btn-primary-scale-2.dropdown-toggle {
	background-color: #006ea6 !important;
	background-image: none !important;
	border-color: #006699 #006699 #004466 !important;
}

html .btn-outline.btn-primary {
	color: #f07a31;
	background-color: transparent;
	background-image: none;
	border-color: #f07a31;
}

html .btn-outline.btn-primary:hover,
html .btn-outline.btn-primary.hover {
	color: #ffffff;
	background-color: #f07a31;
	border-color: #f07a31;
}

html .btn-outline.btn-primary:focus,
html .btn-outline.btn-primary.focus {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.5);
	box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.5);
}

html .btn-outline.btn-primary.disabled,
html .btn-outline.btn-primary:disabled {
	color: #f07a31;
	background-color: transparent;
}

html .btn-outline.btn-primary:active,
html .btn-outline.btn-primary.active {
	color: #ffffff !important;
	background-color: #f07a31 !important;
	border-color: #f07a31 !important;
}

html .show > .btn-outline.btn-primary.dropdown-toggle {
	color: #ffffff !important;
	background-color: #f07a31 !important;
	border-color: #f07a31 !important;
}

html .btn-with-arrow.btn-primary {
	background-color: transparent;
	border-color: transparent;
	color: #f07a31;
}

html .btn-with-arrow.btn-primary:active {
	background-color: transparent !important;
	border-color: transparent !important;
	color: #f07a31 !important;
}

html .btn-with-arrow.btn-primary span {
	background-color: #f07a31;
	-webkit-box-shadow: 2px 3px 18px -3px #f07a31;
	box-shadow: 2px 3px 18px -3px #f07a31;
}

html .btn-with-arrow.btn-primary.btn-outline {
	border-color: #f07a31 !important;
}

html .btn-with-arrow.btn-primary.btn-outline:hover span {
	background-color: #0099e6 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #f07a31;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination .page-item.active .page-link {
	background-color: #f07a31 !important;
	border-color: #f07a31;
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #f07a31;
}

html .alert-primary {
	background-color: #f07a31;
	border-color: #007ebd;
	color: #ffffff;
}

html .alert-primary .alert-link {
	color: #ffffff;
}

html .word-rotator.loading-bar-primary .word-rotator-words::after {
	background-color: #f07a31;
}

.process .process-step-circle {
	border-color: #f07a31;
}

.process .process-step:hover .process-step-circle {
	background-color: #f07a31;
}

html .toggle-primary .toggle label {
	color: #f07a31;
	border-left-color: #f07a31;
	border-right-color: #f07a31;
}

html .toggle-primary .toggle.active > label {
	background-color: #f07a31;
	border-color: #f07a31;
	color: #ffffff;
}

html .toggle-primary.toggle-simple .toggle > label:after {
	background-color: #f07a31;
}

html .toggle-primary.toggle-minimal .toggle.active > label {
	color: #f07a31;
}

.thumb-info .thumb-info-type,
.thumb-info .thumb-info-action-icon,
.thumb-info-social-icons a,
.thumbnail .zoom,
.img-thumbnail .zoom,
.thumb-info-ribbon {
	background-color: #f07a31;
}

html .thumb-info .thumb-info-action-icon-primary {
	background-color: #f07a31;
}


html body .tabs .nav-tabs .nav-link,
html.dark body .tabs .nav-tabs .nav-link,
html body .tabs .nav-tabs .nav-link:hover,
html.dark body .tabs .nav-tabs .nav-link:hover,
html body .tabs .nav-tabs li.active .nav-link,
html.dark body .tabs .nav-tabs li.active .nav-link {
	color: #f07a31;
}

html body .tabs .nav-tabs .nav-link:hover,
html.dark body .tabs .nav-tabs .nav-link:hover,
html body .tabs .nav-tabs .nav-link:focus,
html.dark body .tabs .nav-tabs .nav-link:focus,
html body .tabs .nav-tabs li.active .nav-link,
html.dark body .tabs .nav-tabs li.active .nav-link,
html body .tabs .nav-tabs.nav-justified .nav-link:hover,
html.dark body .tabs .nav-tabs.nav-justified .nav-link:hover,
html body .tabs .nav-tabs.nav-justified .nav-link:focus,
html.dark body .tabs .nav-tabs.nav-justified .nav-link:focus {
	border-top-color: #f07a31;
}

html body .tabs.tabs-bottom .nav-tabs li .nav-link:hover,
html.dark body .tabs.tabs-bottom .nav-tabs li .nav-link:hover,
html body .tabs.tabs-bottom .nav-tabs li.active .nav-link,
html.dark body .tabs.tabs-bottom .nav-tabs li.active .nav-link,
html body .tabs.tabs-bottom .nav-tabs li.active .nav-link:hover,
html.dark body .tabs.tabs-bottom .nav-tabs li.active .nav-link:hover,
html body .tabs.tabs-bottom .nav-tabs li.active .nav-link:focus,
html.dark body .tabs.tabs-bottom .nav-tabs li.active .nav-link:focus {
	border-bottom-color: #f07a31;
}

html body .tabs.tabs-vertical.tabs-left .nav-tabs li .nav-link:hover,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li .nav-link:hover,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link:hover,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link:hover,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link:focus,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link:focus {
	border-left-color: #f07a31;
}

html body .tabs.tabs-vertical.tabs-right .nav-tabs li .nav-link:hover,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li .nav-link:hover,
html body .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link,
html body .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link:hover,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link:hover,
html body .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link:focus,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link:focus {
	border-right-color: #f07a31;
}

html body .tabs.tabs-simple .nav-tabs > li.active .nav-link,
html.dark body .tabs.tabs-simple .nav-tabs > li.active .nav-link,
html body .tabs.tabs-simple .nav-tabs > li.active .nav-link:focus,
html.dark body .tabs.tabs-simple .nav-tabs > li.active .nav-link:focus,
html body .tabs.tabs-simple .nav-tabs > li .nav-link:hover,
html.dark body .tabs.tabs-simple .nav-tabs > li .nav-link:hover,
html body .tabs.tabs-simple .nav-tabs > li.active .nav-link:hover,
html.dark body .tabs.tabs-simple .nav-tabs > li.active .nav-link:hover {
	border-top-color: #f07a31;
	color: #f07a31;
}

html body .tabs-primary .nav-tabs li .nav-link,
html.dark body .tabs-primary .nav-tabs li .nav-link,
html body .tabs-primary .nav-tabs.nav-justified li .nav-link,
html.dark body .tabs-primary .nav-tabs.nav-justified li .nav-link,
html body .tabs-primary .nav-tabs li .nav-link:hover,
html.dark body .tabs-primary .nav-tabs li .nav-link:hover,
html body .tabs-primary .nav-tabs.nav-justified li .nav-link:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li .nav-link:hover {
	color: #f07a31;
}

html body .tabs-primary .nav-tabs li .nav-link:hover,
html.dark body .tabs-primary .nav-tabs li .nav-link:hover,
html body .tabs-primary .nav-tabs.nav-justified li .nav-link:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li .nav-link:hover {
	border-top-color: #f07a31;
}

html body .tabs-primary .nav-tabs li.active .nav-link,
html.dark body .tabs-primary .nav-tabs li.active .nav-link,
html body .tabs-primary .nav-tabs.nav-justified li.active .nav-link,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active .nav-link,
html body .tabs-primary .nav-tabs li.active .nav-link:hover,
html.dark body .tabs-primary .nav-tabs li.active .nav-link:hover,
html body .tabs-primary .nav-tabs.nav-justified li.active .nav-link:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active .nav-link:hover,
html body .tabs-primary .nav-tabs li.active .nav-link:focus,
html.dark body .tabs-primary .nav-tabs li.active .nav-link:focus,
html body .tabs-primary .nav-tabs.nav-justified li.active .nav-link:focus,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active .nav-link:focus {
	border-top-color: #f07a31;
	color: #f07a31;
}

html body .tabs-primary.tabs-bottom .nav-tabs li .nav-link:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li .nav-link:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li .nav-link:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li .nav-link:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active .nav-link,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active .nav-link,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active .nav-link,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active .nav-link,
html body .tabs-primary.tabs-bottom .nav-tabs li.active .nav-link:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active .nav-link:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active .nav-link:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active .nav-link:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active .nav-link:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active .nav-link:focus,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active .nav-link:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active .nav-link:focus {
	border-bottom-color: #f07a31;
}

html body .tabs-primary.tabs-vertical.tabs-left li .nav-link:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li .nav-link:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active .nav-link,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active .nav-link,
html body .tabs-primary.tabs-vertical.tabs-left li.active .nav-link:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active .nav-link:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active .nav-link:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active .nav-link:focus {
	border-left-color: #f07a31;
}

html body .tabs-primary.tabs-vertical.tabs-right li .nav-link:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li .nav-link:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active .nav-link,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active .nav-link,
html body .tabs-primary.tabs-vertical.tabs-right li.active .nav-link:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active .nav-link:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active .nav-link:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active .nav-link:focus {
	border-right-color: #f07a31;
}

html[dir="rtl"] .tabs.tabs-vertical.tabs-left .nav-tabs li .nav-link:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left .nav-tabs li.active .nav-link:focus {
	border-right-color: #f07a31;
	border-left-color: transparent;
}

html[dir="rtl"] .tabs.tabs-vertical.tabs-right .nav-tabs li .nav-link:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right .nav-tabs li.active .nav-link:focus {
	border-right-color: transparent;
	border-left-color: #f07a31;
}

.list.list-icons li > [class*="fa-"]:first-child,
.list.list-icons li a:first-child > [class*="fa-"]:first-child,
.list.list-icons li > .icons:first-child,
.list.list-icons li a:first-child > .icons:first-child {
	color: #f07a31;
	border-color: #f07a31;
}

.list.list-icons.list-icons-style-3 li > [class*="fa-"]:first-child,
.list.list-icons.list-icons-style-3 li a:first-child > [class*="fa-"]:first-child,
.list.list-icons.list-icons-style-3 li > .icons:first-child,
.list.list-icons.list-icons-style-3 li a:first-child > .icons:first-child {
	background-color: #f07a31;
}

.list.list-ordened li:before {
	color: #f07a31;
	border-color: #f07a31;
}

.list.list-ordened.list-ordened-style-3 li:before {
	background-color: #f07a31;
}

html .list-primary.list-icons li > [class*="fa-"]:first-child,
html .list-primary.list-icons li a:first-child > [class*="fa-"]:first-child,
html .list-primary.list-icons li > .icons:first-child,
html .list-primary.list-icons li a:first-child > .icons:first-child {
	color: #f07a31;
	border-color: #f07a31;
}

html .list-primary.list-icons.list-icons-style-3 li > [class*="fa-"]:first-child,
html .list-primary.list-icons.list-icons-style-3 li a:first-child > [class*="fa-"]:first-child,
html .list-primary.list-icons.list-icons-style-3 li > .icons:first-child,
html .list-primary.list-icons.list-icons-style-3 li a:first-child > .icons:first-child {
	background-color: #f07a31;
	color: #ffffff;
}

html .list-primary.list-ordened li:before {
	color: #f07a31;
}

html .list-primary.list-ordened.list-ordened-style-3 li:before {
	background-color: #f07a31;
	color: #ffffff;
}

.parallax blockquote i.fa-quote-left {
	color: #f07a31;
}

section.video blockquote i.fa-quote-left {
	color: #f07a31;
}

.accordion .card-header a {
	color: #f07a31;
}

html .accordion.accordion-primary .card-header {
	background-color: #f07a31 !important;
}

html .accordion.accordion-primary .card-header a {
	color: #ffffff;
}


html .divider.divider-style-3.divider-primary [class*="fa-"],
html .divider.divider-style-3.divider-primary .icons {
	border-color: #f07a31;
}

#header .tip {
	background: #f07a31;
	color: #ffffff;
}

#header .tip:before {
	border-right-color: #f07a31;
	border-left-color: transparent;
}

html #header .tip-primary {
	background: #f07a31 !important;
	color: #ffffff !important;
}

html #header .tip-primary:before {
	border-right-color: #f07a31 !important;
}

html[dir="rtl"] #header .tip:before {
	border-left-color: #f07a31;
}

html[dir="rtl"] #header .tip.skin:before {
	border-left-color: #f07a31;
}

html[dir="rtl"] #header .tip-primary:before {
	border-left-color: #f07a31 !important;
	border-right-color: transparent !important;
}

#header .header-btn-collapse-nav {
	background: #f07a31;
}

html .call-to-action.featured.featured-primary {
	border-top-color: #f07a31;
}

html .call-to-action.call-to-action-primary {
	background: #f07a31;
}

html .call-to-action.with-full-borders-primary {
	border-color: #f07a31;
}

html .call-to-action.call-to-action-primary {
	background: #f07a31;
}

html .call-to-action.call-to-action-primary h3,
html .call-to-action.call-to-action-primary p {
	color: #ffffff;
}

html .progress-bar-primary {
	background-color: #f07a31;
}

@media (min-width: 992px) {
	#header .header-nav-main nav > ul > li > a {
		color: #f07a31;
	}

	#header .header-nav-main nav > ul > li.open > a,
	#header .header-nav-main nav > ul > li:hover > a {
		background: #f07a31;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
		border-top-color: #f07a31;
	}

	#header .header-nav-main nav > ul > li.dropdown.open > a:before,
	#header .header-nav-main nav > ul > li.dropdown:hover > a:before {
		border-bottom-color: #f07a31;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega-signin .dropdown-menu {
		border-top-color: #f07a31;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega-signin .dropdown-menu li a {
		color: #f07a31;
	}

	#header .header-nav-main nav > ul:not(:hover) > li > a.active {
		background-color: #f07a31;
		color: #ffffff;
	}

	#header .header-nav.header-nav-stripe nav > ul > li:hover > a,
	#header .header-nav.header-nav-stripe nav > ul > li.open > a {
		background-color: #f07a31;
	}

	#header .header-nav.header-nav-stripe nav > ul:not(:hover) > li > a.active {
		background-color: #f07a31;
	}

	#header .header-nav.header-nav-stripe nav > ul:hover > li > a.active {
		color: #f07a31;
	}

	#header .header-nav.header-nav-links nav > ul li:hover > a {
		color: #f07a31;
	}

	#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
		color: #f07a31;
	}

	#header .header-nav.header-nav-links.header-nav-links-vertical-slide nav ul li.dropdown .dropdown-menu::-webkit-scrollbar-thumb {
		background: #f07a31 !important;
	}

	#header .header-nav.header-nav-line nav > ul li:hover > a {
		color: #f07a31;
	}

	#header .header-nav.header-nav-line nav > ul li:hover > a:before {
		background: #f07a31;
	}

	#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active {
		color: #f07a31;
	}

	#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active:before {
		background: #f07a31;
	}

	#header .header-nav-main.header-nav-main-slide nav > ul > li.open > span > a,
	#header .header-nav-main.header-nav-main-slide nav > ul > li:hover > span > a {
		color: #f07a31;
	}

	#header .header-nav-main.header-nav-main-slide nav > ul:not(:hover) > li > span > a.active {
		color: #f07a31;
	}

	html.side-header #header.side-header .header-nav-main nav > ul li.dropdown.open > .dropdown-menu,
	html.side-header #header.side-header .header-nav-main nav > ul li.dropdown:hover > .dropdown-menu {
		border-left-color: #f07a31;
	}

	html.side-header-right #header.side-header .header-nav-main nav > ul li.dropdown.open > .dropdown-menu,
	html.side-header-right #header.side-header .header-nav-main nav > ul li.dropdown:hover > .dropdown-menu {
		border-right-color: #f07a31;
	}
}

@media (min-width: 992px) {
	html #header .header-nav .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary .dropdown-menu {
		background-color: #f07a31;
	}

	html #header .header-nav .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary .dropdown-menu li a {
		color: #ffffff;
		border-bottom-color: #007ebd;
	}

	html #header .header-nav .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary .dropdown-menu li:hover > a {
		background: #0092db;
	}

	html #header .header-nav .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.open > a:before,
	html #header .header-nav .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a:before {
		border-bottom-color: #f07a31;
		background: #f07a31;
	}

	html #header .header-nav .header-nav-main nav > ul > li.dropdown-full-color.dropdown-mega.dropdown-primary .dropdown-mega-sub-title {
		color: #ffffff;
		opacity: 0.70;
	}

	html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a {
		background: #f07a31;
		color: #ffffff;
	}

	html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary .dropdown-menu li a {
		color: #ffffff;
	}

	html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active {
		background: #f07a31;
		color: #ffffff;
	}

	html #header .header-nav-line .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a:focus,
	html #header .header-nav-line .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a:hover {
		color: #f07a31;
	}

	html #header .header-nav-line .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a:focus:before,
	html #header .header-nav-line .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a:hover:before {
		background-color: #f07a31;
	}

	html #header .header-nav-line .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a {
		color: #f07a31;
	}

	html #header .header-nav-line .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.open > a:before,
	html #header .header-nav-line .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a:before {
		background: #f07a31;
	}

	html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active {
		color: #f07a31;
	}

	html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active:before {
		background-color: #f07a31;
	}

	html #header .header-nav-links .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a {
		color: #f07a31;
	}

	html #header .header-nav-links .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a:focus,
	html #header .header-nav-links .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a:hover {
		color: #f07a31;
	}

	html #header .header-nav-links .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a {
		color: #f07a31;
	}

	html #header .header-nav-links .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active {
		color: #f07a31;
	}
}

@media (min-width: 992px) {
	html #header .header-nav-force-light-text-active-skin-color .header-nav-main nav > ul > li:hover > a,
	html #header .header-nav-force-light-text-active-skin-color .header-nav-main nav > ul > li .wrapper-items-cloned:hover > a {
		color: #f07a31 !important;
	}

	html #header .header-nav-force-light-text-active-skin-color .header-nav-main nav > ul:not(:hover) > li > a.active,
	html #header .header-nav-force-light-text-active-skin-color .header-nav-main nav > ul:not(:hover) > li .wrapper-items-cloned > a.active {
		color: #f07a31 !important;
	}
}

@media (max-width: 991px) {
	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a {
		color: #f07a31;
	}

	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a:active {
		color: #f07a31;
	}

	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active {
		background: #f07a31;
	}

	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:focus,
	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:hover {
		background: #f07a31;
	}

	#header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active {
		background: #f07a31;
	}

	#header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active:focus,
	#header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active:hover {
		background: #f07a31;
	}

	html.side-header-hamburguer-sidebar #header.side-header .header-nav.header-nav-links .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active {
		color: #f07a31 !important;
	}

	html.side-header-hamburguer-sidebar #header.side-header .header-nav.header-nav-links nav::-webkit-scrollbar-thumb {
		background-color: #f07a31;
	}

	html.side-header-hamburguer-sidebar #header.side-header .header-nav.header-nav-links nav > ul > li > a.active {
		color: #f07a31 !important;
	}

	html.side-header-hamburguer-sidebar #header.side-header .header-nav.header-nav-links nav > ul > li:hover > a {
		color: #f07a31 !important;
	}
}

@media (max-width: 991px) {
	html #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary > a {
		color: #f07a31;
	}

	html #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary > a.active {
		background: #f07a31 !important;
		color: #ffffff !important;
	}
}

html #header .header-top.header-top-primary {
	background: #f07a31;
	border-top-color: #0077b3;
}

html #header .header-top.header-top-primary .header-nav-top ul > li.open > a {
	background: #0099e6;
}

html #header .header-top.header-top-primary .header-nav-top ul > li > a:hover,
html #header .header-top.header-top-primary .header-nav-top ul > li.open > a:hover,
html #header .header-top.header-top-primary .header-nav-top ul > li > a:focus,
html #header .header-top.header-top-primary .header-nav-top ul > li.open > a:focus {
	background: #0099e6;
}

html #header .header-top.header-top-primary .dropdown-menu {
	background: #0099e6;
	border-color: #0099e6;
}

html #header .header-top.header-top-primary .dropdown-menu a:hover,
html #header .header-top.header-top-primary .dropdown-menu a:focus {
	background: #00aaff !important;
}

@media (min-width: 992px) {
	html #header .header-nav-bar-primary {
		background: #f07a31 !important;
		color: #ffffff !important;
	}
}

@media (min-width: 992px) {
	#header .header-nav-main.header-nav-main-light nav > ul > li.open > a,
	#header .header-nav-main.header-nav-main-light nav > ul > li:hover > a {
		color: #f07a31;
	}

	#header .header-nav-main.header-nav-main-light nav > ul > li > a.active {
		color: #f07a31;
	}
}

#header .header-nav-features .header-nav-features-search-reveal-big-search .form-control {
	border-bottom-color: #f07a31;
}

.testimonial blockquote {
	background: #0099e6;
}

.testimonial .testimonial-arrow-down {
	border-top-color: #0099e6;
}

html .testimonial-primary blockquote {
	background: #0099e6;
}

html .testimonial-primary .testimonial-arrow-down {
	border-top-color: #0099e6;
}

html .testimonial-primary.testimonial-style-7 {
	background: #0099e6;
}

html .testimonial-quotes-primary blockquote:before,
html .testimonial-quotes-primary blockquote:after {
	color: #f07a31 !important;
}

html .testimonial-quotes-light blockquote:before,
html .testimonial-quotes-light blockquote:after {
	color: #f07a31 !important;
}

.circular-bar.only-icon [class*="fa-"],
.circular-bar.only-icon .icons {
	color: #f07a31;
}

html .counters .counter-primary [class*="fa-"],
html .counters .counter-primary .icons,
html .counters .counter-primary strong {
	color: #f07a31;
}

html .countdown.countdown-primary > span > span {
	color: #f07a31;
}

.icon-featured {
	background-color: #f07a31;
}

html .featured-box-primary .icon-featured {
	background-color: #f07a31;
}

html .featured-box-primary h4 {
	color: #f07a31;
}

html .featured-box-primary .box-content {
	border-top-color: #f07a31;
}

html .featured-box-primary .box-content-border-bottom {
	border-bottom-color: #f07a31;
}

html .featured-boxes-style-3 .featured-box.featured-box-primary .icon-featured {
	border-color: #f07a31;
	color: #f07a31;
}

html .featured-boxes-style-4 .featured-box.featured-box-primary .icon-featured {
	border-color: #f07a31;
	color: #f07a31;
}

html .featured-boxes-style-5 .featured-box.featured-box-primary .icon-featured {
	color: #f07a31;
}

html .featured-boxes-style-6 .featured-box.featured-box-primary .icon-featured {
	color: #f07a31;
}

html .featured-boxes-style-8 .featured-box.featured-box-primary .icon-featured {
	color: #f07a31;
}

.featured-boxes-modern-style-primary .featured-box {
	background: #f07a31;
	background: linear-gradient(135deg, #f07a31 0%, #383f48 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07a31', endColorstr='#383f48', GradientType=1);
}

html .featured-box-effect-2.featured-box-primary .icon-featured:after {
	-webkit-box-shadow: 0 0 0 3px #f07a31;
	box-shadow: 0 0 0 3px #f07a31;
}

html .featured-box-effect-3.featured-box-primary .icon-featured:after {
	-webkit-box-shadow: 0 0 0 10px #f07a31;
	box-shadow: 0 0 0 10px #f07a31;
}

html .featured-box-effect-3.featured-box-primary:hover .icon-featured {
	background: #f07a31 !important;
}

.feature-box .feature-box-icon {
	background-color: #f07a31;
}

html .feature-box-primary .feature-box-icon {
	background-color: #f07a31;
}

.feature-box.feature-box-style-2 .feature-box-icon [class*="fa-"],
.feature-box.feature-box-style-2 .feature-box-icon .icons {
	color: #f07a31;
}

html .feature-box-primary.feature-box-style-2 .feature-box-icon [class*="fa-"],
html .feature-box-primary.feature-box-style-2 .feature-box-icon .icons {
	color: #f07a31;
}

.feature-box.feature-box-style-3 .feature-box-icon {
	border-color: #f07a31;
}

.feature-box.feature-box-style-3 .feature-box-icon [class*="fa-"],
.feature-box.feature-box-style-3 .feature-box-icon .icons {
	color: #f07a31;
}

html .feature-box-primary.feature-box-style-3 .feature-box-icon {
	border-color: #f07a31;
}

html .feature-box-primary.feature-box-style-3 .feature-box-icon [class*="fa-"],
html .feature-box-primary.feature-box-style-3 .feature-box-icon .icons {
	color: #f07a31;
}

.feature-box.feature-box-style-4 .feature-box-icon [class*="fa-"],
.feature-box.feature-box-style-4 .feature-box-icon .icons {
	color: #f07a31;
}

html .feature-box-primary.feature-box-style-4 .feature-box-icon [class*="fa-"],
html .feature-box-primary.feature-box-style-4 .feature-box-icon .icons {
	color: #f07a31;
}

.feature-box.feature-box-style-5 .feature-box-icon [class*="fa-"],
.feature-box.feature-box-style-5 .feature-box-icon .icons {
	color: #f07a31;
}

html .feature-box-primary.feature-box-style-5 .feature-box-icon [class*="fa-"],
html .feature-box-primary.feature-box-style-5 .feature-box-icon .icons {
	color: #f07a31;
}

html .feature-box-primary.feature-box-style-6 .feature-box-icon [class*="fa-"],
html .feature-box-primary.feature-box-style-6 .feature-box-icon .icons {
	color: #f07a31;
}

html .featured-boxes-full-scale > .featured-box-full-primary:nth-child(1) {
	background-color: #006699;
}

html .featured-boxes-full-scale > .featured-box-full-primary:nth-child(2) {
	background-color: #0077b3;
}

html .featured-boxes-full-scale > .featured-box-full-primary:nth-child(3) {
	background-color: #f07a31;
}

html .featured-boxes-full-scale > .featured-box-full-primary:nth-child(4) {
	background-color: #0099e6;
}

html .featured-boxes-full-scale > .featured-box-full-primary:nth-child(5) {
	background-color: #00aaff;
}

html .featured-boxes-full-scale > .featured-box-full-primary:nth-child(6) {
	background-color: #1ab2ff;
}

html .featured-boxes-full .featured-box-full-primary {
	background-color: #f07a31;
	color: #ffffff;
}

section.timeline .timeline-box.left:before,
section.timeline .timeline-box.right:before {
	background: #f07a31;
	-webkit-box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #f07a31;
	box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #f07a31;
}

ul.history li .featured-box .box-content {
	border-top-color: #f07a31;
}

.recent-posts .date .month,
article.post .post-date .month {
	background-color: #f07a31;
}

.recent-posts .date .day,
article.post .post-date .day {
	color: #f07a31;
}

.slider .tp-bannertimer {
	background-color: #f07a31;
}

.home-concept strong {
	color: #f07a31;
}

html .home-intro-primary {
	background: #f07a31;
}

html .slide-overlay-primary .slotholder:after {
	background-color: #f07a31 !important;
}

html .slider-container .tp-caption-overlay-primary {
	background: #f07a31;
}

html .slider-container .tp-caption-overlay-opacity-primary {
	background: rgba(0, 136, 204, 0.4);
}

html .tp-bullets.bullets-color-primary .tp-bullet:hover,
html .tp-bullets.bullets-color-primary .tp-bullet.selected {
	background: #f07a31;
}

html .slide-overlay.slide-overlay-gradient .slotholder:after {
	background-color: #2baab1 !important;
	background-image: -webkit-gradient(linear, left top, right top, from(#2baab1), to(#383f48)) !important;
	background-image: linear-gradient(to right, #2baab1 0%, #383f48 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2baab1', endColorstr='#383f48', GradientType=1);
}

.tparrows.tparrows-carousel.tp-leftarrow,
.tparrows.tparrows-carousel.tp-rightarrow {
	background-color: #f07a31;
	border-color: #f07a31 #f07a31 #006699;
	color: #ffffff;
}

.tparrows.tparrows-carousel.tp-leftarrow:hover,
.tparrows.tparrows-carousel.tp-rightarrow:hover,
.tparrows.tparrows-carousel.tp-leftarrow.hover,
.tparrows.tparrows-carousel.tp-rightarrow.hover {
	background-color: #00a1f2;
	border-color: #00aaff #00aaff #f07a31;
	color: #ffffff;
}

.tparrows.tparrows-carousel.tp-leftarrow:focus,
.tparrows.tparrows-carousel.tp-rightarrow:focus,
.tparrows.tparrows-carousel.tp-leftarrow.focus,
.tparrows.tparrows-carousel.tp-rightarrow.focus {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.5);
	box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.5);
}

.tparrows.tparrows-carousel.tp-leftarrow.disabled,
.tparrows.tparrows-carousel.tp-rightarrow.disabled,
.tparrows.tparrows-carousel.tp-leftarrow:disabled,
.tparrows.tparrows-carousel.tp-rightarrow:disabled {
	background-color: #f07a31;
	border-color: #f07a31 #f07a31 #006699;
}

.tparrows.tparrows-carousel.tp-leftarrow:active,
.tparrows.tparrows-carousel.tp-rightarrow:active,
.tparrows.tparrows-carousel.tp-leftarrow.active,
.tparrows.tparrows-carousel.tp-rightarrow.active {
	background-color: #006ea6 !important;
	background-image: none !important;
	border-color: #006699 #006699 #004466 !important;
}

.tparrows.arrows-primary:before {
	color: #f07a31;
}

.shop .products .product .onsale {
	background-color: #f07a31;
	border-bottom-color: #006da3;
}

.shop .star-rating span,
.shop .cart-totals tr.total .amount {
	color: #f07a31;
}

#footer .footer-ribbon {
	background: #f07a31;
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:not(:hover) > li > a.active {
	color: #f07a31 !important;
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:not(:hover) > li > a.active:before {
	background: #f07a31 !important;
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:hover > li:hover > a {
	color: #f07a31 !important;
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:hover > li:hover > a:before {
	background: #f07a31 !important;
}

.scrollable.colored-slider .scrollable-slider {
	background: #f07a31;
}

.sample-icon-list .sample-icon a:hover {
	background-color: #f07a31;
}

html.boxed .body {
	border-top-color: #f07a31;
}
